<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome Email</title>

</head>

<body>

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0" style="padding:20px">
					<tr>
						<td class="content-wrap">
							<table width="100%" cellpadding="0" cellspacing="0" >
								<tr>
									<td class="content-block" style="padding-top:20px">
										Hi <strong><%= name %></strong>,
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<h1> Welcome to Hngre.</h1>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<p>On behalf of our entire team, I would like to thank you for downloading our app and	making it a part of your life.<br /><br/>
											You’ve just joined our growing community of savvy foodies in New York City. We are constantly adding new exciting dishes to Hngre to deliver a fresh 
											experience to our users.<br/><br/>
											Hope you love using the app as much as we loved making it. <br/><br/>
											Hngre always.</p>
									</td>
								</tr>

								<tr>
									<td class="content-block">
										<!-- <a href="http://www.mailgun.com" class="btn-primary">Confirm email address</a> -->
										Rohit H<br/>
										Co-Founder<br/>
										rohit@hngre.com<br/>
									</td>
								</tr>
								<tr>
									<td>
														<div style="display:inline-block;float:left;padding-top:3px">
															Follow Us:
														</div>

														<div style="display:inline-block;float:left;margin-left:5px">
															<a href=""><img style="width:25px" src="https://s3.amazonaws.com/hngrestatic/twitter.png"></a>
														<a href=""><img style="width:25px"  src="https://s3.amazonaws.com/hngrestatic/insta.png"></a>
														</div>
									</td>									
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<!-- div class="footer">
					<table width="100%">
						<tr>
							<td class="aligncenter content-block">Follow <a href="http://twitter.com/hngreapp">@hngreapp</a> on Twitter.</td>
						</tr>
					</table>
				</div> --></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
